*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: url(./img/bg.jpg) center;
    background-size: cover;
    position: relative;
    color: #444;
    height: 100vh;
}

.clearfix::after{
    content:'';
    display: table;
    clear:both; 
}

.container{
    width: 65vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 100%, 97%, 0.95);
    border-radius: 5px;
    box-shadow: 1rem 1rem 2rem rgba(65, 46, 44, 0.932), -1rem -1rem 2rem rgba(65, 46, 44, 0.932) ;
    
}

button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-family: 'Lato';
    font-weight: 400;
    color: rgb(180, 3, 3);
    transition: all .1s;
    cursor: pointer;
}
button:hover{ 
    font-weight: 600;
}
button:focus{ 
    outline: none; 
    
}

button i{
    color: rgb(93, 168, 127);
    margin-right: 10px;;
}

.btn-new{ top: 30px; }
.btn-roll{top: 300px;}
.btn-hold{top: 400px;}
img{
    width: 8rem;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 15px;
}

.player-panel-0, .player-panel-1{
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}

.active .player-name::after{
    content:'\2022';
    position: absolute;
    color: red; 
    font-size: 2rem;
    margin-left: 10px;    
}

.active .player-name{ font-weight: 400;}
.active  {background-color: rgba(141, 141, 141, 0.527);}

.player-name{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.score-0, .score-1{
    color: rgb(0, 90, 41);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 150px;
}
.current-box{
    width: 150px;
    height: 100px;
    margin: 10px auto;
    padding: 10px ;
    border-radius: 10px;
    background-color: rgba(206, 86, 126, 0.932);
}

.current-score{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(66, 15, 15);
}

.winner {
    background-image: linear-gradient(to bottom right, rgba(155, 0, 155, 0.9), rgba(1, 34, 104, 0.9))
}
.winner .player-name{
    font-weight: 400;
    color: red;
}